
$red: #FF0000;
$yellow: #FFCC00;
$green: #66CC33;
$orange: #FF9900;
$brown: #990000;
$user: #FFBB77;
$search: #FFE1CE;
$add: #FF6600;
$label: #F14E56;
$delete: $red;
$notice: #66CCCC;
$form--bg: #308E77;

