
.form {

  //$form--bg: #308E77;
  $form--bg: #006666;
  $form--w: 34rem;
  $form__text--w: 26rem;
  $focus: #5ACAD5;

  width: $form--w;
  margin: 0 auto;

  @at-root %form__element {
    margin-bottom: 2.5rem;
  }

  &__wrapper {
    background: $form--bg;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0 1.6rem 0;
    position: relative;

  }

  &__group {
   @extend .form;
   @extend %form__element;
    padding-top: 2rem;
    color: #FFF;
    background: darken($form--bg, 10%);
    border:　3px double #FFF;
    margin-right: auto;
    margin-left: auto;
  }

  &__label {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: $orange;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    margin-left: ($form--w - $form__text--w) / 2;

    &--checkbox {
      @extend %form__element;
      color: #FFF;
      flex: 0 0 100%;
      display: flex;
      justify-content: center;

      &::after {
        content: "";
        width: 1.8rem;
        height: 1.8rem;
        font-size: 2rem;
        color: #333;
        background: #FFF;
        display: block;
        margin-left: 5px;
      }
    }

    &--textarea {
      @extend .form__label;
      //border-radius: 3px;
    }

    &--focus {
      background: $focus;
    }
  }

  &__checkbox {
    display: none;

    &:checked+.form__label--checkbox::after {
      content: "\02713";
    }
  }

  &__text {
    @extend %form__element;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: $form__text--w;
    height: 3.2rem;
    border-radius: 0 3px 3px 3px;
    background: #FFF;
    border: 1px solid $orange;
    padding: 0 5px;
  }

  &__button {
    @extend %form__element;
    height: 4.2rem;
    padding: 0 1.6rem;
    background: $orange;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #FFF;
    display: block;
    //margin: 0 20%;
    margin-right: auto;
    margin-left: auto;

    &:hover {
      background: $focus;
    }

    &--delete {
      @extend .form__button;
      background: $delete;
    }

    &--close {
      border-radius: 5px;
      border: 1px solid #FFF;
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 0;
      right: 0;
      background: $red;
      margin: 2rem;

        @at-root %form__button--close-bar {
          content: "";
          width: 2px;
          height: 30px;
          background: #FFF;
          position: absolute;
          top: 50;
          left: 50;

        }

      &::before {
        @extend %form__button--close-bar;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        @extend %form__button--close-bar;
        transform: translate(-50%, -50%) rotate(135deg);
      }

      &:hover {
        background: darken($red, 10%);
      }
    }
  }

  &__textarea {
    @extend .form__text;
    border-radius: 3px;
    height: 18rem;
    padding: 5px;
  }

  &__a {
    flex: 0 0 100%;
  }

  &__p {
    text-align: center;
    color: #FFF;
    margin-bottom: 2.5rem;
    line-height: 1.6;
    flex: 0 0 100%;
  }

  &__header {
    @extend .form__p;
  }

  &__modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;

    &__window {
      background: $form--bg;
      width: 47rem;
      max-width: 100%;
      border: 2px solid $orange;
      border-radius: 5px;
      padding: 2rem;
    }
  }

  &__error {
    @extend %form__element;
    //height: 3.2rem;
    width: $form--w - 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 3px;
    padding: 0.3rem 1rem;
    line-height: 1.9;
    color: #FFF;
    background: red;
    margin-right: auto;
    margin-left: auto;
  }

  &--close {
    display: none !important;
    //transform: translateY(-100%);
  }

  &--open {
    display: flex !important;
    //transform: translateY(0);
  }

  &--focus {
    border-color: $focus;
  }

}
