
@import 'base/reset.scss';
@import 'base/form-reset.scss';
@import 'base/base.scss';
@import 'base/variables.scss';
@import 'form.scss';

.header {
  color: #FFF;
  background: $yellow;
  //padding: 2rem 0 1.8rem 0;
  padding: 3rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.h1 {
  //font-size: 3.8rem;
  font-size: 4rem;
  font-family: Georgia, serif;
  position: relative;
  width: 24rem;
  text-align: center;
  color: #FFF;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #FFF;
    position: absolute;
    bottom: 3px;
    left: 0;
  }
}

.message {
  font-size: 1.8rem;
  padding: 2rem 0;
  text-align: center;
}

#auth {
  
  &__menu {
    display: flex;
    justify-content: center;
    //align-items: center;
    background: $yellow;
    padding: 2rem 0;
  }
  
  @at-root %auth__button {
    font-size: 2.4rem;
    color: #FFF;
    font-weight: bold;
  }

  &__button--wrapper {
    display: flex;
    justify-content: space-between;
    width: 28rem;
  }

  &__button--register {
    @extend %auth__button;
  }

  &__button--login {
    @extend %auth__button;
  }

  &__button--logout {
    @extend %auth__button;
  }

  @at-root %auth__form {
    display: none;
  }

  &__form--register {
    @extend %auth__form;
  }

  &__form--login {
    @extend %auth__form;
  }


}

.footer {
  height: 4rem;
  background: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
