.contents {
  background: #FFE1CE;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 2.5rem 0;
  min-height: calc(100vh - 10rem);
}

.book {
  padding: 0 5%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book__data {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  margin-bottom: 1rem;
}

.book__img-wrapper {
  margin: 0 3.5rem 1.3rem 3.5rem;
  background: #FFF;
  padding: 3.5rem 0;
  width: 210px;
  min-height: 20rem;
}

.book__info {
  width: 28rem;
}

.book__text,
.book__description {
  margin-bottom: 0.8rem;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.9);
}

.book__description {
  letter-spacing: 0.2rem;
}

